body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: white;
    padding: 20px;
    
}
h1{
    text-align: center;
    color:#333;
}
input{
    font-size: 16px;
    width: 60%;
    padding: 10px;
    ;
}
.b1{
    padding: 10px,15px;
    font-size: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.b1:hover{
    background-color: rgb(10, 206, 88);
    color: white;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    background: white;
    margin: 10px 0;
    padding: 10 px;
    
    border-left: 4px,solid #007bff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}
li button{
    
    color: rgb(219, 24, 24);
    padding: 5px,10px;
    
    border: none;
    cursor:pointer;
}

.taskitem{
    display: flex;
    align-items: center;
    gap:10px ;
    margin: 10px 0s;
    
}
.task-text{
    flex:1;
    font-size: 18px;
}
.done-btn{
    color:green
(208, 74, 74);
    background-color:transparent;
    cursor: pointer;
    font-size: 20px;
    border: none;

    
    
}
.del-btn{
    background-color: transparent;
    cursor: pointer;
    color: red;
    font-size: 20px;
    border: none;
    
}